---
layout: default
---

<div class="row">
  <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">

    <div class="page-title">
      <div class="avatar-border">
          <img src="/images/matt-haliski.jpg" alt="Matt Haliski" class="img-circle avatar" />
      </div>

      <h1 class="text-xs-center text-uppercase title">Matt Haliski</h1>
      <p class="text-xs-center lead">
        <em>I smash my fingers on the keyboard and occasionally stuff happens.</em>
      </p>
    </div>

    <ul class="post-list">
      {% for post in paginator.posts %}
        <li class="post">
          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
          {{ post.excerpt }}
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        </li>
      {% endfor %}
    </ul>

    <!-- Pagination links -->
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous pull-xs-left">Previous</a>
      {% else %}
        <span class="previous pull-xs-left">Previous</span>
      {% endif %}
      <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next pull-xs-right">Next</a>
      {% else %}
        <span class="next pull-xs-right">Next</span>
      {% endif %}
    </div>

  </div>
</div>
