---
layout: default
---

<div class="row">
  <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
    <div class="page-title">
      <div class="avatar-border">
          <img src="/images/matt-haliski.jpg" alt="Matt Haliski" class="rounded-circle avatar" />
      </div>

      <h1 class="text-center text-uppercase title">Matt Haliski</h1>
      <p class="text-center lead">
        <em class="text-muted">I smash my fingers on the keyboard and occasionally stuff happens.</em>
      </p>
    </div>

    <ul class="post-list">
      {% for post in paginator.posts %}
      <li class="post">
        <h5 class="post-title text-uppercase">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h5>
        <div class="text-muted mb-3">
          {{ post.date | date: '%B %d, %Y' }}
          <ul class="list-inline list-tags d-inline-block ml-3">
            <li class="list-inline-item">Tags:</li>
            {% for tag in post.tags %}
            <li class="list-inline-item"><a href="{{ site.baseurl }}/blog/tag/{{ tag }}">{{ tag|slugize }}</a></li>
            {% endfor %}
          </ul>
        </div>
        {{ post.excerpt }}
      </li>
      {% endfor %}
    </ul>

  </div>
</div>
