<footer class="site-footer d-flex flex-column flex-md-row">
  <div class="text-center text-md-left">
    <a href="{{ site.baseurl }}/"><img src="/images/matt-haliski-logo.svg" alt="Matt Haliski" class="footer-logo" /></a> &nbsp;<small class="text-muted">v. {{ site.version }}</small>
  </div>
  <div class="flex-fill">
    <nav class="nav flex-column text-center text-md-left flex-md-row justify-content-md-end">
      <a class="nav-link" href="https://twitter.com/matthaliski" target="_blank">@matthaliski</a>
      <a class="nav-link" href="{{ site.baseurl }}/">Home</a>
      <a class="nav-link" href="{{ site.baseurl }}/about">About</a>
      <a class="nav-link" href="{{ site.baseurl }}/feed.xml">RSS</a>
    </nav>
  </div>
</footer>