<footer class="site-footer">
  <a href="{{ site.baseurl }}/"><img src="/images/matt-haliski-logo.svg" alt="Matt Haliski" class="footer-logo" /></a> &nbsp;<small class="text-muted">v. {{ site.version }}</small>
  <nav class="nav nav-inline pull-sm-right">
    <a class="nav-link" href="https://twitter.com/matthaliski" target="_blank">@matthaliski</a>
    <a class="nav-link" href="{{ site.baseurl }}/">Home</a>
    <!-- <a class="nav-link" href="{{ site.baseurl }}/about">About</a> -->
    <!-- <a class="nav-link" href="{{ site.baseurl }}/feed.xml">RSS</a> -->
  </nav>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
