<footer class="site-footer d-flex flex-column flex-md-row align-items-center">
  <div class="mb-5 mb-md-0">
    <div class="d-flex align-items-center">
      <a href="{{ site.baseurl }}/"><img src="/images/matt-haliski-logo.svg" alt="Matt Haliski" class="footer-logo" /></a>
      <div class="text-muted small ml-2">&copy; {{ site.time | date: '%Y' }} matthaliski.com</div>
    </div>
  </div>
  <div class="flex-fill">
    <nav class="nav flex-column text-center text-md-left flex-md-row justify-content-md-end">
      <a class="nav-link" href="https://twitter.com/matthaliski" target="_blank">@matthaliski</a>
      <a class="nav-link" href="{{ site.baseurl }}/">Home</a>
      <a class="nav-link" href="{{ site.baseurl }}/about">About</a>
      <a class="nav-link" href="{{ site.baseurl }}/thanks">Thanks</a>
      <a class="nav-link" href="{{ site.baseurl }}/feed.xml">RSS</a>
    </nav>
  </div>
</footer>