<nav class="navbar navbar-full primary-nav">
  <a href="{{ site.baseurl }}/" class="navbar-brand">
    <img src="/images/matt-haliski-logo.svg" alt="Matt Haliski" class="header-logo" />
  </a>
  <button class="navbar-toggler hidden-sm-up pull-xs-right" type="button" data-toggle="collapse" data-target="#mainNav">
    &#9776;
  </button>
  <div class="collapse navbar-toggleable-sm pull-sm-right" id="mainNav">
    <ul class="nav navbar-nav clearfix">
      <li class="nav-item">
        <a href="{{ site.baseurl }}/" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a href="{{ site.baseurl }}/about" class="nav-link">About</a>
      </li>
    </ul>
  </div>
</nav>
