//
// Body
//
//

body {
  overflow-x: hidden;

  > .wrapper {
    overflow-x: hidden;
  }
}

html.turbolinks-progress-bar::before {
  background-color: $brand-info !important;
  height: 3px !important;
}


//
// Container
//
//

.container {
  padding-bottom:2.5rem;
}


//
// Columns
//
// When the columns are collapsed on a small screen we should have a little
// vertical spacing in between.

[class*="col-"] {
  margin-bottom:3rem;

  @include media-breakpoint-up(sm) {
    margin-bottom:1rem;
  }
}


//
// Frontend footer
//
//

.site-footer {
  color:$gray-light;
  border-top:1px solid $gray-lighter;
  border-bottom:1px solid $gray-lighter;
  padding:2rem 1rem;
  margin-bottom:2rem;
  font-family: $font-family-sans-serif;

  h1, h2, h3, h4, h5 {
    color:$gray-light;
    text-transform: uppercase;
  }

  .nav {
    li {
      margin-bottom:1rem;
      font-family:$font-family-sans-serif;
      text-transform: uppercase;
      font-size:0.8rem;
    }
  }

  .footer-logo {
    width:50px;
  }
}


//
// Alerts
//
//

.alert {
  margin-bottom:1rem;

  &.alert-rectangle {
    border-radius: 0;
  }

  &.alert-alert, &.alert-warning {
    background-color: $brand-warning;
    color:darken($brand-warning, 45%);
  }

  &.alert-notice {
    background: $brand-info;
    color:#fff;
  }

  &.alert-error {
    background:$brand-danger;
    color:#fff;
  }
}


//
// Images
//
//

// Typically found in blog posts
.img-full-width {
  margin-bottom:1rem;
}


// We start by displaying:none. JS, if available, removes this class so the image
// can be shown. A regular image will be shown by a noscript tag
.img-responsive {
  display: none;
}


//
// Pagination
//
//

// Aliasing kaminari classes to Bootstrap 4
.pagination {
  font-family: $font-family-sans-serif;

  .page, .next, .last, .first, .prev, .disabled {
    @extend .page-item;

    a {
      @extend .page-link;
      background-color:transparent;
      border-color:$gray-lightest;
      color:$gray;

      &:hover {
        background-color:darken($brand-primary, 7%);
        color:#fff;
        border-color:darken($brand-primary, 10%);
      }
    }
  }
}


//
// Full-width bands
//
// Bands spanning the width of the page with solid background colors

.band {
  width:100%;
  padding:80px 0;
  position: relative;

  &:before {
    content:'';
    background-color: inherit;
    width:4000px;
    position: absolute;
    top:0;
    left:-2000px;
    height:100%;
    z-index: -1;
  }

  .band-title {
    padding-bottom:2rem;
    font-size:2.5rem;
  }

  .band-hr {
    margin-bottom:3rem;
  }

  &.band-secondary {
    $headings-color: #fff;
    background-color: $brand-secondary;
    color:$gray-lightest;

    h1, h2, h3, h4, h5 {
      color:$headings-color;
    }
  }


  .quote {
    text-align: center;
    background: $brand-secondary;
    margin-top:0px;
    color:$brand-primary;
    padding-bottom:25px;
  }
}

//
// Pagination
//
// Pagination controls for the front page

.pagination {
  display: block;
  text-align: center;
}


//
// Miscellaneous
//
// Random shit

.avatar-border {
  width:160px;
  height:160px;
  background: $brand-primary;
  border-radius:50%;
  position: relative;
  margin:0 auto 1.5rem;
  display: block;
}

.avatar {
  width:150px;
  margin:0 auto 1.5rem auto;
  display: block;
  border:5px solid #fff;
  position: absolute;
  left:5px;
  top:5px;
}

.highlight {
  padding:1rem;
}

.leavingharbor-logo {
  width: 130px;
  height: 130px;
  margin: 20px auto 10px;
}
