//
// Home Page
//
//

.home {
  .site-footer {
    margin-top:0;
  }
}


//
// About Page
//
//

.avatar-container {
  margin-bottom:2rem;
  margin-top:-5rem;

  .avatar {
    width:200px;
  }
}

.western-us {
  width:100%;
}

.img-portfolio {
  margin-bottom:1rem;
}

